@import '../../styles/variables';

.products {
  display: flex;
  flex-direction: row;
  background-color: #2fbd95;
  width: 1200px;
  height: 100vh;

  &__title-wrapper {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
