$font-primary: #26343b;
$bg-primary: #ffffff;
$bg-secondary: #eef1f3;
$btn-primary: #6eab43;
$btn-secondary: #b1c33d;
$btn-hover: #657207;
$color-accent: #f9d44a;
$color-info: #ff7f5c;
$icon-primary: #49636e;
$icon-delete: #e92f46;
$color-border: #849aa4;
//$color-white: #ffffff;
$color-border-dark: #94979a;

//$color-unicorn-main: #F2FBF8;
//$color-unicorn-secondary: #D6EBE7;

//$header-height: 70px;

$sidebar-width: 200px;
//$page-height: calc(100vh - $header-height);
$borderRadiusRounded: 50%;
