$font-primary: #26343b;
$bg-primary: #ffffff;
$bg-secondary: #eef1f3;
$btn-primary: #6eab43;
$color-secondary-dark: #2fbd95;
$color-secondary-extra-dark: #289b7c;
$color-accent: #f9d44a;
$color-info: #ff7f5c;
$color-font: #18333e;
$color-border: #b4bcc4;
//$color-white: #ffffff;
//$color-border-dark: #94979a;

//$color-unicorn-main: #F2FBF8;
//$color-unicorn-secondary: #D6EBE7;

$header-height: 75px;

$sidebar-width: 250px;
$page-height: calc(100vh - $header-height);
$borderRadiusRounded: 50%;
