@import '../../styles/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: $sidebar-width;
  position: absolute;
  left: 0;
  background-color: $bg-primary;
  padding: 110px 40px;
  box-shadow: 34px 13px 28px -34px rgba(94, 94, 94, 0.74);

  &__user-info {
    position: relative;
  }
}

.user-info {
  &__avatar {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
  }

  &__button {
    position: absolute;
    bottom: 45px;
    right: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: $bg-primary;
  box-shadow: 3px 2px 16px -9px #000000;

  &:hover {
    background-color: $bg-secondary;
    border-color: $bg-secondary;
  }

  &__icon {
    width: 13px;
    height: 12px;
    fill: $icon-primary;
  }
}
